MAIL_ID=
MAIL_PASSWORD=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
ACCESS_TOKEN_COOKIE_MAXAGE=900000
REFRESH_TOKEN_COOKIE_MAXAGE=604800000
CLIENT_URL=
ACCESS_TOKEN_SECRET=
NODE_ENV=
PORT=
MONGO_URI=
CORS_ORIGIN=https://your-frontend-domain.com
REFRESH_TOKEN_SECRET=